*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nice{
    position: relative;
}
button{
    position:absolute;
    border-radius: 5px;
    left: 280px;
    top:15px;
    background-color: rgb(13, 11, 11);
    color: white;
    border: 1px solid white;
    height: 30px;
   
}
.David {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.line1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main{
    width: 23.7%;
    background-color: rgb(209, 211, 212);
}
p{
    opacity: 0.4;
    padding-bottom: 10px;
}
.body{
    padding-top: 10px;
}